#---------------------------------
# Directories
#---------------------------------
**/node_modules/
frontend/target/
frontend/tmp/
frontend/app/
frontend/build/
frontend/dist/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
