#======================================
# Directories
#--------------------------------------
build/
dist/
coverage/
node_modules/
functions/node_modules/
tmp/


#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
functions/package-lock.json
package-lock.json
.package-lock.json
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
