$iq-vertical-padding: 0.75em;
$iq-horizontal-padding: 1em;
$iq-padding: $iq-vertical-padding $iq-horizontal-padding;
$iq-border-radius: 0.2em;
$iq-transition: all 0.1s ease-in-out 0s;

@import "./reset",
    "./fonts",
    "./app",
    "./../components/header/header",
    "./../components/home-page/home-page",
    "./../components/group-list/group-list",
    "./../components/group-form/group-form",
    "./../components/groups-page/groups-page",
    "./../components/group-page/group-page",
    "./../components/notifications/notifications",
    "./../components/user-list/user-list",
    "./../components/users-form/users-form",
    "./../components/how-it-works-page/how-it-works-page",
    "./../components/users-page/users-page",
    "./../components/stripes/stripes",
    "./../components/user-page/user-page";

html {
    overflow-y: scroll;
}

body {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:active {
    }
}

h1,
h2,
h3 {
    line-height: 2em;
    margin: 0;
}

ul {
    list-style-type: none;
    li {
        line-height: 2em;
    }
}

button,
input {
    line-height: 1em;
    padding: $iq-padding;
    border: none;
    outline: none;
    border-radius: $iq-border-radius;
    transition: $iq-transition;
}

button,
input[type="submit"] {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    &:not([disabled]) {
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
        &:active,
        &:focus {
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

input {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    &:not([disabled]) {
        &:hover {
            background: rgba(255, 255, 255, 0.9);
        }
        &:active,
        &:focus {
            background: rgba(255, 255, 255, 1);
        }
    }
}

.item-list {
    .item {
        margin-bottom: $iq-vertical-padding;
        display: flex;
        align-content: space-between;
        align-items: center;
        transition: $iq-transition;
        .item-title {
            flex-grow: 1;
            color: rgba(255, 255, 255, 0.8);
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &:active {
                color: black;
            }
        }
        .item-buttons {
        }
    }
}

.background-light {
    // background: white;
    color: rgba(0, 0, 0, 0.8);
    a {
        transition: $iq-transition;
        color: rgba(0, 0, 0, 0.6);
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
        &:active {
            color: rgba(0, 0, 0, 0.5);
        }
        &.selected {
            cursor: default;
            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}
