$iq-vertical-padding: 0.75em;
$iq-horizontal-padding: 1em;
$iq-padding: $iq-vertical-padding $iq-horizontal-padding;
$iq-border-radius: 0.2em;
$iq-transition: all 0.1s ease-in-out 0s;

@import "./reset",
    "./fonts",
    "./app",
    "./../components/header/header",
    "./../components/home-page/home-page",
    "./../components/group-list/group-list",
    "./../components/group-form/group-form",
    "./../components/groups-page/groups-page",
    "./../components/group-page/group-page",
    "./../components/notifications/notifications",
    "./../components/user-list/user-list",
    "./../components/users-form/users-form",
    "./../components/users-page/users-page",
    "./../components/user-page/user-page";

html {
    overflow-y: scroll;
}

body {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
input {
    padding: $iq-padding;
    border: none;
    outline: none;
    border-radius: $iq-border-radius;
    transition: $iq-transition;
}

button {
    background: rgba(0, 0, 0, 0.2);
    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
    &:active {
        background: rgba(0, 0, 0, 0.6);
    }
}

input {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    &:hover {
        background: rgba(255, 255, 255, 0.9);
    }
    &:active,
    &:focus {
        background: rgba(255, 255, 255, 1);
    }
}
