@import "./reset",
    "./fonts",
    "./app",
    "./../components/header/header",
    "./../components/group-list/group-list",
    "./../components/groups-page/groups-page",
    "./../components/group-page/group-page";

html {
    overflow-y: scroll;
}

body {
    // padding-bottom: 120px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.2em;
    transition: all 0.1s ease-in-out 0s;
    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    &:active {
        background: rgba(0, 0, 0, 0.3);
    }
}
