.blue-stripes {
  .stripes {
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    height: 750px;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    span {
      position: absolute;
      height: 40px;
    }
    :nth-child(1) {
      width: 50%;
      left: 50%;
      top: 40px;
      background: #4c29ff;
    }
    :nth-child(2) {
      width: 14%;
      right: 0;
      bottom: 40px;
      background: #2be7ff;
    }
    :nth-child(3) {
      width: 25%;
      bottom: 0;
      right: 0;
      background: #a1ffc8;
    }
  }
  @media (min-width: 670px) {
    .stripes {
      span {
        height: 150px;
      }
      :nth-child(1) {
        top: 0;
        background: #4750ff;
      }
      :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff;
      }
      :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #11bdff;
      }
    }
  }
  @media (min-width: 880px) {
    .stripes {
      span {
        height: 190px;
      }
      :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #53f;
      }
      :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff;
      }
      :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff;
      }
      :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5;
      }
      :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff;
      }
    }
  }
}

.purple-stripes {
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  height: 750px;
  .stripes {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 260px;
    transform: skewY(-12deg);
  }
  @media (min-width: 670px) {
    .stripes {
      bottom: 290px;
    }
  }
  @media (min-width: 880px) {
    .stripes {
      bottom: 440px;
    }
  }
  .stripes .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #895cf2, #ffabf4);
  }
  .stripes .stripe {
    position: absolute;
    height: 190px;
  }
  .stripes .s1 {
    bottom: 380px;
    left: 16%;
    width: 41%;
    background: linear-gradient(90deg, rgba(67, 67, 141, 0.05), rgba(67, 67, 141, 0.1));
  }
  .stripes .s2 {
    bottom: 0;
    left: 0;
    width: 27%;
    background: linear-gradient(90deg, #c76eff, #b778ff);
  }
  .stripes .s3 {
    bottom: 0;
    right: 0;
    width: 30%;
    background: linear-gradient(90deg, #f4a3ea, #ffbe8a);
  }
  .stripes .s4 {
    height: 191px;
    bottom: -189px;
    left: 0;
    right: 60%;
    min-width: 0;
    background: linear-gradient(90deg, #f783c3, #f399ff);
  }
  @media (min-width: 880px) {
    .stripes .s4 {
      right: calc(50% + 90px);
      min-width: 430px;
    }
  }
  .stripes .s5 {
    height: 191px;
    bottom: -189px;
    right: 0;
    width: 26%;
    background: linear-gradient(90deg, #fff, #f5f5ff);
  }
}
