.group-page {
    .group-page-header {
        display: flex;
        align-items: center;
    }

    .membership-button,
    .delete-group-button {
        margin-left: 0.5em;
    }

    .group-page-title {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .members-header {
        h2 {
            flex-grow: 1;
        }
        display: flex;
    }

    .user-item {
        padding: 0.5em 0;
        transition: all 0.1s ease-in-out 0s;
        .user-description {
            color: rgba(255, 255, 255, 0.8);
        }
        &:hover .user-description {
            color: rgba(255, 255, 255, 1);
        }
        &:active .user-description {
            color: rgba(255, 255, 255, 1);
        }
    }

    .group-form {
        margin-bottom: 1em;
    }
}
