.user-list {
    .user-item {
        padding: 0.5em 0;
        transition: $iq-transition;
        color: rgba(255, 255, 255, 0.8);
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
        &:active {
            color: black;
        }
    }
}
