.home-page-stripes-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  main {
    position: relative;
    overflow: hidden;
    display: block;
  }

  #stripes {
    max-height: 700px;
  }
  #stripes,
  #stripes span {
    position: absolute;
  }
  #stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  }
  #stripes span {
    height: 40px;
  }
  #stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff;
  }
  #stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff;
  }
  #stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8;
  }
  @media (min-width: 670px) {
    #stripes span {
      height: 150px;
    }
    #stripes :nth-child(1) {
      top: 0;
      background: #4750ff;
    }
    #stripes :nth-child(2) {
      width: 16.66667%;
      top: 300px;
      bottom: auto;
      background: #0dcfff;
    }
    #stripes :nth-child(3) {
      width: 33.33333%;
      right: auto;
      background: #11bdff;
    }
  }
  @media (min-width: 880px) {
    #stripes span {
      height: 190px;
    }
    #stripes :nth-child(1) {
      width: 33.33333%;
      left: -16.66666%;
      background: #53f;
    }
    #stripes :nth-child(2) {
      width: 33.33333%;
      top: 0;
      left: 16.66666%;
      right: auto;
      background: #4553ff;
    }
    #stripes :nth-child(3) {
      width: 33.33333%;
      left: 49.99999%;
      bottom: auto;
      background: #4f40ff;
    }
    #stripes :nth-child(4) {
      width: 33.33333%;
      top: 380px;
      right: -16.66666%;
      background: #25ddf5;
    }
    #stripes :nth-child(5) {
      width: 33.33333%;
      bottom: 0;
      background: #1fa2ff;
    }
  }
}

.groups-page-stripes-container {
  position: absolute;
  z-index: -1;
  height: 700px;
  width: 100%;
  overflow: hidden;
  .stripes {
    max-height: 700px;
    position: relative;
    z-index: -1;
    width: 100%;
    display: grid;
    transform: skewY(-12deg);
    top: 0;
    grid: repeat(5, 200px)/repeat(10, 1fr);
    transform-origin: 0;
    background: linear-gradient(
      #507eb1,
      #709dc7 10%,
      #dde9f5 38%,
      #eaf2f9 48%,
      #f6f9fc 62%
    );
  }
  .stripes :nth-child(1) {
    grid-column: span 3;
    background: linear-gradient(
      100grad,
      rgba(243, 251, 255, 0.4),
      rgba(243, 251, 255, 0.15) 20%,
      rgba(243, 251, 255, 0)
    );
  }
  .stripes :nth-child(2) {
    grid-area: 3/span 3/auto/-1;
  }
  .stripes :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
  }
  .stripes :nth-child(4) {
    grid-area: 4/span 5/auto/-1;
  }
  .stripes :nth-child(5) {
    grid-area: auto/1/-1/-1;
    background: linear-gradient(100grad, #fff 80%, #f5fafd);
  }
  @media (min-width: 670px) {
    .stripes :nth-child(2) {
      background: linear-gradient(
        100grad,
        rgba(0, 119, 204, 0),
        rgba(0, 119, 204, 0.05) 40%,
        rgba(0, 119, 204, 0.35)
      );
    }
    .stripes :nth-child(3) {
      background: linear-gradient(100grad, #fff 50%, hsla(0, 0%, 100%, 0));
    }
    .stripes :nth-child(4) {
      background: linear-gradient(
        100grad,
        rgba(0, 119, 204, 0) 10%,
        rgba(0, 119, 204, 0.05)
      );
    }
  }
}
