//=========================================================
//  SignInPage
//---------------------------------------------------------

.sign-in {
  margin-top: 90px;
  max-width: 300px;
  .description {
    margin-bottom: 1.5rem;
  }
}

.sign-in__heading {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.sign-in__button {
  img {
    margin-top: -3px;
  }
  background: rgba(255,255,255,1);
  border-radius: 0.1rem;
  // margin-bottom: 10px;
  // border: 1px solid #555;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #999;
  &:hover {
    background: rgba(255,255,255,0.95);
    // border: 2px solid #aaa;
    line-height: 46px;
  }
}
