@import "~minx/src/settings";
@import "~minx/src/functions";
@import "~minx/src/mixins";
@import "~minx/src/reset";
@import "~minx/src/elements";

@import "button/button";
@import "header/header";
@import "login-page/login";
@import "group-form/group-form";
@import "group-item/group-item";
@import "particles/particles";
@import "group-list/group-list";

html {
	overflow-y: scroll;
}

body {
	padding-bottom: 120px;
}

a {
	color: inherit;
	text-decoration: none;
}

::selection {
	background: rgba(200, 200, 255, .1);
}

.hide {
	display: none !important;
}

.capitalize {
	text-transform: capitalize;
}

//=========================================================
//  Grid
//---------------------------------------------------------

.g-row {
	@include grid-row;
}

.g-col {
	@include grid-column;
	width: 100%;
}

//=========================================================
//  Settings
//---------------------------------------------------------

// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Medium.otf');
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Ultra.otf');
//   font-weight: 900;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Black.otf');
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Bold.otf');
//   font-weight: 600;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Book.otf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Thin.otf');
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-Light.otf');
//   font-weight: 200;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('assets/fonts/gotham/GothamHTF-XLight.otf');
//   font-weight: 100;
// }
// .gotham { font-family: 'Gotham', 'Helvetica Neue', sans-serif;}

// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-Medium.otf');
// }
// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-Black.otf');
//   font-weight: 900;
// }
// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-Bold.otf');
//   font-weight: 800;
// }
// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-SemiBold.otf');
//   font-weight: 600;
// }
// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-Book.otf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Whitney';
//   src: url('assets/fonts/whitney/WhitneyHTF-Light.otf');
//   font-weight: 200;
// }
// .whitney { font-family: 'Whitney', RobotoDraft, Roboto, 'Helvetica Neue', sans-serif; }

$base-background-color: #f2f2f2 !default;
$base-font-color: #999 !default;
$base-font-family: Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 18px !default;
$base-line-height: 24px !default;

* {
	font-family: $base-font-family;
	font-weight: 2;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	font-family: $base-font-family;
}
//=====================================
//  Grid
//-------------------------------------
$grid-max-width: 810px !default;
