.user-page {
    .user-image {
        // transform: translate(-50%, 0);
        // margin-left: 50%;
        height: 4em;
        border-radius: 50%;
        margin-right: 2em;
    }
    .user-page-title {
        align-items: center;
        display: flex;
        h1 {
            flex-grow: 1;
        }
    }
    .user-details {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        .user-email {
            flex-grow: 1;
        }
    }
    .delete-membership-link {
        font-size: 2em;
        transition: $iq-transition;
        opacity: 0.8;
        font-weight: 800;
        &:hover {
            opacity: 1;
        }
        &:active {
            color: black;
        }
    }
}
