.group-list {
    .group-item {
        margin-bottom: $iq-vertical-padding;
        display: flex;
        align-content: space-between;
        align-items: center;
        transition: $iq-transition;
        .group-title {
            flex-grow: 1;
            color: rgba(255, 255, 255, 0.8);
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            &:active {
                color: black;
            }
        }
        .member-count {
            display: inline-block;
            text-align: center;
            border-radius: 1em;
            line-height: 2em;
            font-size: 0.5em;
            font-weight: 600;
            min-height: 2em;
            min-width: 3em;
            padding: 0 1em;
            background: rgba(0, 0, 0, 0.2);
            transform: translate(0, -1em);
        }
        .join-leave-button-wrapper {
        }
    }
}
