.home-page {
  color: white;
  margin-top: 3em;

  h1 {
    margin-bottom: 1rem;
    font-size: 30px;
    // font-weight: 300;
  }

  .description {
    margin-bottom: 1em;
  }

  .signup-button {
    //   font-size: 1em;
    //   margin-top: 30px;
    //   border-width: 0;
    //   outline: none;
    //   border-radius: 5px;
    padding: 0.75em 1em;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // text-transform: uppercase;
    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: #707070;
    }
    font-weight: 500;
    img {
      margin-right: 1em;
    }
    //   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    // transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    //   &:hover {
    //     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    //     color: #343434;
    //     background-color: #f2f2f2;
    //   }
    //   &:active {
    //     color: #343434;
    //     background-color: #c0c0c0;
    //   }
  }
}
