.home-page {
  color: white;
  margin-top: 3em;
  .hero {
    height: 750px;
  }
  .description {
    margin-bottom: 1em;
  }
  .signup-button {
    padding: 0.75em 1em;
    padding-right: 1.2em;
    font-weight: 500;
    img {
      margin-right: 1em;
    }
    background: white;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      background: white;
    }
    &:active {
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
}
