.how-it-works-page {
	.description {
		margin-bottom: 1em;
	}

	.stripes {
		grid: repeat(5, 200px)/repeat(10, 1fr);
		transform-origin: 0;
		background: linear-gradient(
			#507eb1,
			#709dc7 10%,
			#dde9f5 38%,
			#eaf2f9 48%,
			#f6f9fc 62%
		);
		:nth-child(1) {
			grid-column: span 3;
			background: linear-gradient(
				100grad,
				rgba(243, 251, 255, 0.4),
				rgba(243, 251, 255, 0.15) 20%,
				rgba(243, 251, 255, 0)
			);
		}
		:nth-child(2) {
			grid-area: 3/span 3/auto/-1;
		}
		:nth-child(3) {
			grid-row: 4;
			grid-column: span 5;
		}
		:nth-child(4) {
			grid-area: 4/span 5/auto/-1;
		}
		:nth-child(5) {
			grid-area: auto/1/-1/-1;
			background: linear-gradient(100grad, #fff 80%, #f5fafd);
		}
	}
	@media (min-width: 670px) {
		.stripes {
			:nth-child(2) {
				background: linear-gradient(
					100grad,
					rgba(0, 119, 204, 0),
					rgba(0, 119, 204, 0.05) 40%,
					rgba(0, 119, 204, 0.35)
				);
			}
			:nth-child(3) {
				background: linear-gradient(100grad, #fff 50%, hsla(0, 0%, 100%, 0));
			}
			:nth-child(4) {
				background: linear-gradient(
					100grad,
					rgba(0, 119, 204, 0) 10%,
					rgba(0, 119, 204, 0.05)
				);
			}
		}
	}
}
