$pi: 3.14159265358979;

.notification-list {
  z-index: 1;
  top: 0;
  width: 100%;
  max-width: 520px;
  position: absolute;
  height: 1em;
  line-height: 1em;
  .notification-item {
    line-height: 1em;
    display: flex;
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    &.success {
      background: rgba(0, 255, 0, 1);
      background: green;
    }
    &.error {
      background: rgba(255, 0, 0, 1);
      background: red;
    }
    .notification-message {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
    .delete-notification {
      flex-shrink: 0;
      font-weight: 600;
      font-size: 1.5em;
      line-height: 0.5em;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-in-out 0s;
      &:hover {
        color: rgba(0, 0, 0, 0.4);
      }
      &:active,
      &:focus {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .loader-container {
    margin-top: -0.5em;
    height: 1em;
    padding-left: 1em;
    overflow: visible;
  }
  .loader {
    height: 2em;
    flex-grow: 0;
    position: relative;
    overflow: visible;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .progress {
    transform: rotate(-90deg);
  }
  .progress__meter,
  .progress__value {
    fill: none;
  }
  .progress__meter {
    stroke: rgba(0, 0, 0, 0.2);
  }
  $circumference: 2 * $pi * 6;
  .progress__value {
    stroke: rgba(255, 255, 255, 1);
    stroke-linecap: round;
    stroke-dasharray: $circumference;
    stroke-dashoffset: -$circumference;
  }
}

@keyframes countdown {
  to {
    stroke-dashoffset: 0;
  }
}
