.header-container {
    display: flex;
    height: 4rem;
    line-height: 4rem;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    .header {
        line-height: 3em;
        margin-top: 1em;
        display: flex;
        flex-grow: 0;
        flex-basis: 520px;
        justify-content: space-between;
        .header-title {
            font-weight: 500;
        }
        .header-buttons {
            display: flex;
            a {
                &.login {
                    border-radius: $iq-border-radius;
                    background: rgba(0, 0, 0, 0.1);
                    &:hover,
                    &.selected {
                        background: rgba(0, 0, 0, 0.2);
                    }
                    &:active {
                        background: rgba(0, 0, 0, 0.4);
                    }
                }
                &:not(.login) {
                    color: rgba(255, 255, 255, 0.8);
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }
                    &.selected {
                        color: rgba(255, 255, 255, 1);
                    }
                }
                &.my-profile {
                    img {
                        height: 2em;
                        border-radius: 50%;
                    }
                    &:hover {
                        img {
                            border: 2px solid rgba(255, 255, 255, 0.6);
                        }
                    }
                    &:active,
                    &.selected {
                        img {
                            border: 2px solid rgba(255, 255, 255, 1);
                        }
                    }
                }
                cursor: pointer;
                padding: 0 1rem;
                background: rgba(0, 0, 0, 0);
                transition: background 0.1s ease-in-out 0s;
            }
        }
    }
}
