.header-container {
    display: flex;
    height: 3rem;
    line-height: 3rem;
    justify-content: center;
    .header-title {
        font-weight: 500;
    }
    .header {
        flex-grow: 1;
        max-width: 520px;
        display: flex;
        justify-content: space-between;
    }
    ul {
        list-style-type: none;
        li {
            cursor: pointer;
            padding: 0 1rem;
            border-left: 1px solid gray;
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
            &:active {
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .page-container,
    .header-container {
        flex-basis: 100%;
        max-width: 520px;
    }
}
