.header-container {
    display: flex;
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    .header {
        line-height: 4em;
        display: flex;
        flex-grow: 0;
        flex-basis: 520px;
        justify-content: space-between;
        .header-title {
            font-weight: 500;
        }
        .header-logo {
            height: 2.8em;
            margin-top: -0.3em;
            margin-right: 0.5em;
        }
        .header-buttons {
            display: flex;
            a {
                // cursor: pointer;
                padding: 0 1rem;
                background: rgba(0, 0, 0, 0);
                transition: background 0.1s ease-in-out 0s;
                // &:not(.login) {
                //     color: rgba(255, 255, 255, 0.8);
                //     &:hover {
                //         color: rgba(255, 255, 255, 1);
                //     }
                //     &.selected {
                //         color: rgba(255, 255, 255, 1);
                //     }
                // }
                &.my-profile {
                    img {
                        height: 2em;
                        border-radius: 50%;
                    }
                    &:hover {
                        img {
                            border: 2px solid rgba(255, 255, 255, 0.6);
                        }
                    }
                    &:active,
                    &.selected {
                        img {
                            border: 2px solid rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
}

.authenticated .header-container {
    background: white;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .header {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        .header-title {
        }
        .header-buttons {
            a {
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                &:hover {
                    background: rgba(0, 0, 0, 0.4);
                    color: white;
                }
                &:active,
                &.selected {
                    color: white;
                    background: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}
