//=========================================================
//  Header
//---------------------------------------------------------

.header {
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
}

.header__title {
  float: left;
  font-size: rem(14px);
  font-weight: 400;
  text-rendering: auto;
  transform: translate(0, 0);

  .title-icon {
    position: absolute;
    top: 8px;
  }
  .title-text {
    margin-left: 35px;
  }
}

.header__actions {
  // @include clearfix;
  float: right;
  padding: 8px 0;
  line-height: 24px;

  li {
    float: left;
    list-style: none;

    &:last-child {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #333;
    }

    &:first-child {
      border: none;
    }
  }

  .btn {
    display: block;
    margin: 0;
    color: #999;
    font-size: rem(14px);
    line-height: 24px;
  }

  .link {
    display: block;
    fill: #98999a;
    transform: translate(0, 0);
  }

  .link-help {
    margin-top: -1px;
    width: 22px;
    height: 24px;
  }
}
